body{
    padding: 0;
    margin: 0;

}

.main-container{
    grid-template-columns: 5rem 1fr;
    grid-template-areas: 
    "sidenav content footer"
    "sidenav footer footer"
    "sidenav footer footer";
    min-height: 100vh;
    width: 100%;
}
nav{

    justify-self: center;
    align-self: center;
    grid-template-columns: "sidenav";
}
nav div{
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    position: relative;
}
.sidenav-item{
    opacity: 0;
    transform: translateX(20px);
}



main{
    grid-template-columns: "content";
}
footer{
    grid-template-columns: "footer";
}
.img-container{
    height: 35rem;
    background-size: cover;
}
.img-1{
    background: url("https://source.unsplash.com/cYpqYxGeqts") no-repeat;
}
.img-2{
    background: url("https://source.unsplash.com/bAXqzTJ_OdQ") no-repeat;
}
.img-3{
    background: url("https://source.unsplash.com/mcbXQ06Xl64") no-repeat;
}
.about-column{
    position: relative;
}

.project-list{
    opacity: 0;
    transform: translateY(-10%);
}
.personal_info{
    overflow: hidden;
    opacity: 0;
    transform: translateY(10%);
}
.splide{
    opacity: 0;
    transform: scaleX(0);
}
.my-carousel-progress {
    background: transparent;
  }
  
  .my-carousel-progress-bar {
    background: rgba(255, 193, 7);
    height: 5px;
    transition: width 400ms ease;
    width: 0;
  }

  .navbar-nav .nav-item a:hover{
    color: rgba(255, 193, 7) !important;
  }

  
  .profile_modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    height: 100vh;
    z-index: 5;
    opacity: 0;
    overflow-y: scroll;
    transform: scaleX(0);
  }

  .close-btn{
    opacity: 0;
    transform: translateY(-10%);
  }

@media screen and (max-width:500px) {
    .row{
        place-items: center;
    }
    .main-container{

        grid-template-areas: 'content';
        grid-template-columns: 1fr;
        place-items: center;
    }
    .splide{
        width: 100%;
    }
    main{
        display: flex !important;
        justify-content: center ;
        align-items: center ;
        width: 100%;
    }

    nav{
        display: none;
        /* grid-template-columns: 'content';
        position: fixed;
        bottom: 0;
        left: 0; */
    }
  }



.content{
    transform: translate(0);
    opacity: 1;
}

.main-content{
    opacity: 0;
    transform: translateX(30%);
}
.sub-content{
    opacity: 0;
    transform: translateY(20%);
}


@media screen and (min-width:1240px){
    #header-1{
        max-width: 12em;
    }
    .profile_modal .row{
        width: 1200px;
    }
    .main-content p{
        max-width: 400px;
    }
    .content{
        max-width: 450px;  
    }
    .content-1{
        transform: translateX(-5em); 
    }
    .content-2{
        transform: translateX(5em);
    }
    .content-3{
        transform: translateX(-10em); 
    }

}
  